/*Fonts*/
/*Inter Regular and Bold*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
/*main*/
body {
    font-family: Inter;
    font-weight: 400;
    font-style: 14px;
    line-height: 18px;
    color: #0A0A0A;
}
.wrapper {
    min-height: 100%;

    display: flex;
    flex-direction: column;
}
.container {
    margin: 0 auto;
    max-width: 1230px;
    padding: 0 15px;
}

/*header*/
.header {
    background: #0A0A0A;
    max-height: 113px;
    overflow: hidden;

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 33px 0 32px;
    }

    &__menu {
        display: flex;
        flex-grow: 1;
        flex-basis: 0;
        
        gap: 30px;
    }

    &__item a{
    }

    &__link{
        color: #717171;
        font-size: 22px;
        line-height: 29px;
    }
    &__link:hover {
        text-decoration: underline;
    }

    &__logo {
        transition: all .3s ease;
    }

    &__phone {
        color: #717171;
        font-size: 22px;
        line-height: 29px;
        text-align: right;

        flex-grow: 1;
        flex-basis: 0;
        cursor: default;
    }

    &__phone p {
        display: inline;
        cursor: pointer;
    }
    &__phone p:hover {
        text-decoration: underline;
    }
}

/*main*/
.page {
    flex: 1 1 0;
}

/*choose*/
.choose {
    overflow: hidden;
    background-color: #F5F5F7;

    &__body {
        text-align: center;

        margin: 0 auto;
        width: 937px;
        max-width: 100%;
    }

    &__title {
        color: var(--PURPLE, #490E84);

        /* Заголовок H0 */
        font-family: Inter;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        margin-top: 45px;
        margin-bottom: 20px;
    }

    &__img {
    }
    &__img img{
        max-height: 100%;
        max-width: 100%;
    }

    &__btn {
        display: inline-block;

        color: #FFF;

        font-size: 22px;
        font-weight: 700;
        line-height: normal;

        background-color: #490E84;
        padding: 18px 110px;
        border-radius: 30px;

        margin-top: 30px;
        margin-bottom: 30px;

        border: 3px solid #490E84;

        transition: all .3s ease;
    }

    &__btn:hover {
        background-color: #F5F5F7;
        color: #490E84;
    }
}

/*news*/
.news {
    padding: 80px 0 50px;
    background-color: #FFF;

    &__body {
    }

    &__title {
        color: #717171;

        font-size: 30px;
        font-weight: 700;

        text-align: center;

        margin-bottom: 46px;
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__texts {
        width: 50%;

        display: flex;
        flex-direction: column;
        gap: 28px;
    }

    &__text {
    }

    &__text-dark {
        color: var(--, #0A0A0A);

        font-size: 20px;
        font-weight: 700;
        line-height: 26px;
    }

    &__img {
        width: 50%;

        display: flex;
        justify-content: end;
    }
}

/*color*/
.color {
    padding: 100px 0 50px;
    background-color: #FFF;

    &__body {
    }

    &__title {
        color: #717171;

        font-size: 30px;
        font-weight: 700;

        text-align: center;

        margin-bottom: 46px;
    }

    &__content {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__item {
        width: 20%;

        transition: all .3s ease;

        border-radius: 30px;
        background-color: #FFF;
    }
    &__item:hover {
        background-color: #F5F5F7;

        transform: translate(0,-20px);
    }
    &__item:hover &__subTitle {
        color: #343434;
    }

    &__link {
        transition: all .3s ease;
    }

    &__img img{
        max-height: 100%;
        max-width: 100%;
    }

    &__subTitle {
        color: #0A0A0A;
        font-size: 20px;
        font-weight: 700;
        line-height: 26px;

        text-align: center;

        margin-top: 20px;
        padding-bottom: 10px;

        transition: all .3s ease;
    }
}

/*input*/
.input {

    &__body {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    &__content {
        width: 50%;

        background-color: #574B63;
        text-align: center;

        display: flex;
        align-items: center;

    }

    &__qvesh {
        margin: auto auto;
    }

    &__title {
        margin-bottom: 6vh;

        color:  #FFF;

        font-size: 30px;
        font-weight: 700;
        line-height: normal;
    }

    &__form {
    }

    &__name {
        display: block;
        margin: 0 auto;
        width: 342px;

        margin-bottom: 30px;

        background-color: #574B63;

        padding-bottom: 10px;
        border-bottom: 1px solid #fff;
    }
    &__name:focus {
        border-bottom: 1px solid #424242;
    }

    &__phone {
        display: block;
        margin: 0 auto;
        width: 342px;

        background-color: #574B63;
        
        padding-bottom: 10px;
        border-bottom: 1px solid #fff;
    }
    &__phone:focus {
        border-bottom: 1px solid #424242;
    }

    &__text {
        margin: 25px 0;
    }

    &__btn {
        color:#490E84;

        font-style: normal;
        font-weight: 700;

        border-radius: 30px;
        background-color: #FFF;
        padding: 15px 79px;

        border: 2px solid #fff;

        transition: all .3s ease;
    }
    &__btn:hover {
        color: #FFF;
        background-color: #574B63;
        box-shadow: 0px 2px 3px rgb(255, 255, 255);
    }
    &__btn:active{
        transform: translate(0, 2px);
        box-shadow: 0px 0px 2px rgb(255, 255, 255);
    }

    &__img {
        width: 50%;
    }
    &__img img{
        max-width: 100%;
        width: auto;
    }
}


/*footer*/
.footer {
    background: #0A0A0A;
    max-height: 113px;
    overflow: hidden;

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 33px 0 32px;
    }

    &__politic {
        color: #717171;
        font-size: 22px;
        line-height: 29px;

        flex-grow: 1;
        flex-basis: 0;
        cursor: default;
    }
    &__politic p {
        display: inline;
        cursor: pointer;
    }
    &__politic p:hover {
        text-decoration: underline;
    }

    &__logo {
    }

    &__phone {
        color: #717171;
        font-size: 22px;
        line-height: 29px;
        text-align: right;

        flex-grow: 1;
        flex-basis: 0;
        cursor: default;
    }
    &__phone p {
        display: inline;
        cursor: pointer;
    }
    &__phone p:hover {
        text-decoration: underline;
    }
}

/*media*/
/*import all media.scss*/
